.menu {
  height: 100%;
}

.uploadedImage {
  max-width: 800px;
  max-height: 800px;
}
.canvas {
  max-width: 800px;
  max-height: 800px;
}

@media (max-width: 120em) {
  .uploadedImage {
    max-width: 700px;
  }
  .canvas {
    max-width: 700px;
    max-height: 700px;
  }
}

@media (max-width: 75em) {
  .uploadedImage {
    max-width: 600px;
  }
  .canvas {
    max-width: 600px;
    max-height: 600px;
  }
}

@media (max-width: 48em) {
  .uploadedImage {
    max-width: 500px;
  }
  .canvas {
    max-width: 500px;
    max-height: 500px;
  }
}

@media (max-width: 36em) {
  .uploadedImage {
    max-width: 450px;
  }
  .canvas {
    max-width: 450px;
    max-height: 450px;
  }
}